body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

 .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
  


@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    }
}


@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
    }
}

/* ---------------------HEDER----------------- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-list,
.header-address {
display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo-black {
    color: #2e2f42;
}

.burger-btn {
padding: 0;
border: none;
background-color: transparent;
}
.burger-icon {
   display: block; 
   fill: #2f2f37;
} 

@media screen and (min-width: 768px) {
.burger-btn {
  display: none;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.header-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
    position: relative;
    color: #404bbf;
}

.header-menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf
}

.header-address {
    font-style: normal;
    display: block;
}

.header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}
}

@media screen and (min-width: 1158px) {
.header-logo {
margin-right: 76px;
 }

 .header-address-list {
    flex-direction: row;
     align-items: center;
     gap: 40px;
 }

 .header-address-link {
     padding: 24px 0;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     font-style: normal;
     
 }
}
/* ---------------------mobile-menu----------------- */

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    padding: 72px 16px 24 16px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10%);
    transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
display: flex;
    opacity: 1;
visibility: visible;
pointer-events: auto;
transform: translateY(0);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px;
padding: 0;
cursor: pointer;
fill: #2e2f42;
}

@media screen and (min-width: 768px) {
    .mobile-menu-close {
        display: none;
    }
}

.mobile-menu-nav {
  margin-bottom: auto;
  padding-top: 72px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
 display: block;
 font-size: 36px;
 line-height: 1.11111;
 letter-spacing: 0.02em;
 color: #2e2f42;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link.current {
 color: #404bbf;
}

.mobile-menu-item {
  margin-bottom: 80px;
}

.mobile-menu-contacts {
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-phone {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
}

.mobile-menu-email {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-socials {
    margin-top: 48px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px; 
    }

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}

.social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
display: none;
    }
    }

.section-padding {
    padding-top: 96px;
    padding-bottom: 96px;
} 
      
@media screen and (min-width: 1158px) {
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
 }
}

/* ---------------------HERO----------------- */


.hero {
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-mobile-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-mobile-2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-tablet-1x.jpg);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-tablet-2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-desktop-1x.jpg);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px),
(min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-desktop-2x.jpg);
    }
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
.hero-title {
font-size: 56px;
margin-bottom: 36px;
max-width: 496px;
}
}

@media screen and (min-width: 1158px) {
.hero-title {
    font-size: 56px;
    margin-bottom: 48px;
    max-width: 496px;
}
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    display: block;
    margin: 0 auto;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
/* ----------------FEATURES------------------ */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.features-list {
list-style: none; 
    display: flex;
    gap: 72px 24px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .features-list {
    flex-direction: row;
  flex-wrap: wrap;
}
}

@media screen and (min-width: 1158px) {
    .features-list {
    gap: 24px;
            
        }
}

.features-item {

}

@media screen and (min-width: 768px) {
    .features-item {
            flex-basis: calc((100% - 24px) / 2);
        }
}

@media screen and (min-width: 1158px) {
    .features-item {
            flex-basis: calc((100% - 72px) / 4);
        }
}

.icon-wrapper {
    display: none;
}

@media screen and (min-width: 1158px) {
.icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
}

.features-subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) {
.features-subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features-subtitle {
    font-size: 20px;
    line-height: 1.2;
}
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
}

@media screen and (min-width: 1158px) {
.features-item-text {
    font-weight: 400;
}
}

/* --------------TEAM---------------- */

.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container {
    width: 100%;
    max-width: 1200px;
    padding: 1px 16px 32px 16px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto 72px auto;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}


.team-item {
    background-color: #ffffff;
    width: 264px;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;

    }
}
@media screen and (min-width: 768px) {
    .team-item {
        width: calc((100% - 72px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

.team-member-info {
    padding: 32px 0;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: var(--main-color, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: var(--icon-color, #f4f4fd);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* --------------Portfolio---------------- */

.portfolio-container {
    padding: 1px 16px 32px 16px;
    width: 100%;
    margin: 0 auto;
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
}


@media screen and (min-width: 768px) {
    .portfolio {
        padding-top: 80px;
        padding-bottom: 80px;
    }
        }

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    }

.portfolio-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 32px auto;
}

@media screen and (min-width: 768px) {
    .portfolio-title {
    font-size: 28px;
    margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) {
.portfolio-title {
    font-size: 36px;
    margin-bottom: 72px;
}
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .portfolio-item-title {
            font-size: 18px;
}
}

@media screen and (min-width: 1158px) {
.portfolio-item-title {
        font-size: 20px;
    }
        }

.portfolio-info {
    padding: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 16px;
    row-gap: 32px;
    width: 100%;
}

@media screen and (min-width: 768px) {
.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 48px;
    }
    }

@media screen and (min-width: 1158px) {
.portfolio-list {
        width: 1128px;
        margin: 0 auto;
    }
   }

.portfolio-item {
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
.portfolio-item {
        width: calc((100% - 48px) / 2);
}
}

@media screen and (min-width: 1158px) {
.portfolio-item {
        width: calc((100% - 48px) / 3);
}
}

.portfolio-item-category {
    font-size: 14px;
    color: #434455;
}

@media screen and (min-width: 768px) {
.portfolio-item-category {
    font-size: 16px;
}
}

@media screen and (min-width: 1158px) {
.portfolio-item-category {
    font-size: 16px;
}
}

@media screen and (min-width: 1158px) {
    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-cover-wrapper {
        position: relative;
        overflow: hidden;
    }

    .portfolio-cover-text {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color, #f4f4fd);
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-item:hover .portfolio-cover-text {
transform: translateY(0%);
}
}

@media screen and (max-width: 1157px) {
.portfolio-cover-text {
display: none;
}
}

/* ----------------FOOTER------------------ */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;
}

.footer-lo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-white {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.socials-text {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
}

.socials-list {
    display: flex;
    gap: 16px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.social-link svg {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
    transition: fill 0.3s;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    padding-left: 16px;
    color: #ffffff;
    border-radius: 4px;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.subscribe-icon {
    margin-left: 16px;
}


@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 584px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
    }


    .footer-text {
        max-width: 288px;
    }

    .socials-container {
        margin-bottom: 0;
    }

    .subscribe-form {
        display: flex;
            gap: 24px;
            flex-direction: row;
            flex-wrap: wrap;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1200px;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer {
        padding: 120px 0;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-text {
        /* max-width: 450px; */
    }

    .socials-container {
        align-items: flex-start;
        margin-right: 80px;
    }

    .subscribe-container {
        align-items: flex-start;
    }

    .subscribe-form {
        flex-direction: row;
    }
}



